# URL base del backend FastAPI
VITE_API_URL=http://localhost:8000/api/v1

# WebSocket de voz
VITE_WS_URL=ws://localhost:8000/api/v1/ws/voice

# Store activa (mientras no hay auth real)
VITE_STORE_ID=aaaa557f-94a9-4475-b9e5-c03dc639f43c

VITE_CASHIER_USER_ID=aaaa